@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
        @* <NavMenu /> *@
    @* </div> *@

    <main>
        @* <div class="top-row px-4"> *@
        @*     <NavLink href="https://learn.microsoft.com/NavLinkspnet/core/" target="_blank">About</NavLink> *@
        @* </div> *@
        <!-- Bootstrap Dropdown Menu Version -->
    

                  


        <!-- Bootstrap Dropdown Menu Version -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <!-- Master Dropdown -->
                    <!-- Existing content omitted for brevity -->
                    <!-- Report Dropdown -->
                    <!-- Master Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="masterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Master
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="masterDropdown">
                            <li><a class="dropdown-item" href="#">Gen Ledger Master</a></li>
                            <li><a class="dropdown-item" href="#">Group Master</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Item Master</a></li>
                            <li><a class="dropdown-item" href="#">Item Rate Details</a></li>
                            <li><a class="dropdown-item" href="#">Item Group Master</a></li>
                            <li><a class="dropdown-item" href="company">Company Name Entry</a></li>
                            <li><a class="dropdown-item" href="country">Country Name Entry</a></li>
                            <li><a class="dropdown-item" href="#">Country Region Entry</a></li>
                            <li><a class="dropdown-item" href="categories">Item Category Master</a></li>
                            <li><a class="dropdown-item" href="#">Sub Category Master</a></li>
                            <li><a class="dropdown-item" href="#">3rd Sub Category Master</a></li>
                            <li><a class="dropdown-item" href="#">Wine Grape Master</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Permit Master</a></li>
                            <li><a class="dropdown-item" href="#">Purchase Outstanding</a></li>
                            <li><a class="dropdown-item" href="#">Bank Name Entry</a></li>
                            <li><a class="dropdown-item" href="#">Naration Entry</a></li>
                            <li><a class="dropdown-item" href="#">Cheque No. Entry</a></li>
                            <li><a class="dropdown-item" href="#">Opening B.R.S</a></li>
                            <li><a class="dropdown-item" href="#">Opening Stock Value</a></li>
                            <li><a class="dropdown-item" href="#">Mode of Payment</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Reminder Entry</a></li>
                            <li><a class="dropdown-item" href="#">Company Setup</a></li>
                            <li><a class="dropdown-item" href="#">Weekly Off Dry Day</a></li>
                            <li><a class="dropdown-item" href="#">Customer Account</a></li>
                            <li><a class="dropdown-item" href="#">Delivery Boy</a></li>
                            <li><a class="dropdown-item" href="#">Delivery Customer</a></li>
                            <li><a class="dropdown-item" href="#">Dashoard</a></li>
                        </ul>
                    </li>

                    <!-- Entry Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="entryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Entry
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="entryDropdown">
                            <li><a class="dropdown-item" href="#">Purchase Entry</a></li>
                            <li><a class="dropdown-item" href="#">Case Rack Conversion Entry</a></li>
                            <li><a class="dropdown-item" href="#">Stock Transaction Entry</a></li>
                            <li><a class="dropdown-item" href="#">Sales Entry</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Cash Bank J/V Entry</a></li>
                            <li><a class="dropdown-item" href="#">Cheque Print</a></li>
                            <li><a class="dropdown-item" href="#">Physical Stock Entry</a></li>
                            <li><a class="dropdown-item" href="#">Income Expence Entry</a></li>
                            <li><a class="dropdown-item" href="#">Export Sales</a></li>
                            <li><a class="dropdown-item" href="#">Sale or Return Entry</a></li>
                        </ul>
                    </li>

                    <!-- Enquiry Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="enquiryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Enquiry
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="enquiryDropdown">
                            <li><a class="dropdown-item" href="#">Purchase Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Sales Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Cash Bank Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">General Ledger Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Daily Balance</a></li>
                            <li><a class="dropdown-item" href="#">Stock Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Item wise Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Daily Purchase Sales Enquiry</a></li>
                            <li><a class="dropdown-item" href="#">Daily Position</a></li>
                            <li><a class="dropdown-item" href="#">Single Item Stock</a></li>
                        </ul>
                    </li>

                    <!-- Miscellaneous Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="miscDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Miscellaneous
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="miscDropdown">
                            <!-- Group 1 -->
                            <li><a class="dropdown-item" href="#">FLR - 3 Report</a></li>
                            <li><a class="dropdown-item" href="#">FLR - 3A Report</a></li>
                            <li><a class="dropdown-item" href="#">FLR - 5 Report</a></li>
                            <li><a class="dropdown-item" href="#">FLR - 4 Report</a></li>
                            <li><a class="dropdown-item" href="#">CL.XXIII 23 Report</a></li>
                            <li><a class="dropdown-item" href="#">Stock Report</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <!-- Group 2 -->
                            <li><a class="dropdown-item" href="#">Supplier+Item Report</a></li>
                            <li><a class="dropdown-item" href="#">Item +Supplier Report</a></li>
                            <li><a class="dropdown-item" href="#">Item Rate Details</a></li>
                            <li><a class="dropdown-item" href="#">Supplier+Bill Report</a></li>
                            <li><a class="dropdown-item" href="#">Purchase Analysis</a></li>
                            <li><a class="dropdown-item" href="#">Sales Analysis</a></li>
                            <li><a class="dropdown-item" href="#">Monthly Purchase</a></li>
                            <li><a class="dropdown-item" href="#">Monthly Sales</a></li>
                            <li><a class="dropdown-item" href="#">Yearly Stock Summery</a></li>
                            <li><a class="dropdown-item" href="#">Item Batch Report</a></li>
                            <li><a class="dropdown-item" href="#">Stock In Bulk Liter</a></li>
                            <li><a class="dropdown-item" href="#">Order Report</a></li>
                            <li><a class="dropdown-item" href="#">Price List</a></li>
                            <li><a class="dropdown-item" href="#">Free Issue Report</a></li>
                            <li><a class="dropdown-item" href="#">Notes Report</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <!-- Group 3 -->
                            <li><a class="dropdown-item" href="#">Company +Item Report</a></li>
                            <li><a class="dropdown-item" href="#">Country Item Report</a></li>
                            <li><a class="dropdown-item" href="#">Item Rate Sale Report</a></li>
                            <li><a class="dropdown-item" href="#">Supplier Item Purchase Report</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reportDropdown">
                            <li><a class="dropdown-item" href="#">Purchase Register</a></li>
                            <li><a class="dropdown-item" href="#">Sales Register</a></li>
                            <li><a class="dropdown-item" href="#">Trial Balance</a></li>
                            <li><a class="dropdown-item" href="#">Trading Accounts</a></li>
                            <li><a class="dropdown-item" href="#">General Ledger Print</a></li>
                            <li><a class="dropdown-item" href="#">Schedule Print</a></li>
                            <li><a class="dropdown-item" href="#">Audit Schedule Print</a></li>
                            <li><a class="dropdown-item" href="#">Income Expense Report</a></li>
                            <li><a class="dropdown-item" href="#">Outstanding Payable</a></li>
                            <li><a class="dropdown-item" href="#">Purchase > 10000</a></li>
                            <li><a class="dropdown-item" href="#">Bank Reconciliation</a></li>
                            <li><a class="dropdown-item" href="#">Cheque Details</a></li>
                            <li><a class="dropdown-item" href="#">Sales Tax Certificate</a></li>
                            <li><a class="dropdown-item" href="#">Supplier Tcs Report</a></li>
                            <li><a class="dropdown-item" href="#">Purchase Discount Register</a></li>
                            <li><a class="dropdown-item" href="#">Vat Register</a></li>
                            <li><a class="dropdown-item" href="#">Annexure A</a></li>
                            <li><a class="dropdown-item" href="#">M.R.P Rate Update</a></li>
                            <li><a class="dropdown-item" href="#">Margin Report</a></li>
                        </ul>
                    </li>

                    <!-- Year End Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="yearEndDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Year End
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="yearEndDropdown">
                            <li><a class="dropdown-item" href="#">Yearly Purchase Report</a></li>
                            <li><a class="dropdown-item" href="#">Yearly Sales Report</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">General Ledger New Year C/F</a></li>
                            <li><a class="dropdown-item" href="#">Stock New Year C/F</a></li>
                            <li><a class="dropdown-item" href="#">Out. Pay. New Year C/F</a></li>
                            <li><a class="dropdown-item" href="#">B.R.S New Year C/F</a></li>
                        </ul>
                    </li>

                    <!-- Utility Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="utilityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Utility
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="utilityDropdown">
                            <li><a class="dropdown-item" href="#">Backup Files</a></li>
                            <li><a class="dropdown-item" href="#">Reindex Files</a></li>
                            <li><a class="dropdown-item" href="#">Account Balance Update</a></li>
                            <li><a class="dropdown-item" href="#">Checkit Entries</a></li>
                            <li><a class="dropdown-item" href="#">Stock Update</a></li>
                            <li><a class="dropdown-item" href="#">Code Change</a></li>
                            <li><a class="dropdown-item" href="#">Sort Entries</a></li>
                            <li><a class="dropdown-item" href="#">Record Lock</a></li>
                            <li><a class="dropdown-item" href="#">Set Password</a></li>
                            <li><a class="dropdown-item" href="#">Income Expence Bal. Update</a></li>
                            <li><a class="dropdown-item" href="#">Income Expence Bal. C/F</a></li>
                            <li><a class="dropdown-item" href="#">Customer Name Change</a></li>
                            <li><a class="dropdown-item" href="#">Printer Setup</a></li>
                            <li><a class="dropdown-item" href="#">Correction Report</a></li>
                            <li><a class="dropdown-item" href="#">Quit Programme</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

     
      
        <NavLinkrticle class="content  px-1">

            @Body
        </NavLinkrticle>
       
    </main>
</div>
